<!DOCTYPE html>
<html>
<head>
    <title>Main</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-easyui")
    @Styles.Render("~/Content/jquery-easyui")
</head>
<body>
    <div style="padding:5px 5px 0px 5px;">
        @RenderBody()
    </div>
</body>
</html>
 