<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title> 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-easyui")
        @Styles.Render("~/Content/jquery-easyui")
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script> 
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>      
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
