<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ntu.xzmcwjzs.WebApp-20170315104816.mdf;Initial Catalog=aspnet-ntu.xzmcwjzs.WebApp-20170315104816;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="XZMCWJZSContext" connectionString="server=.;database=XZMCWJZS;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
    <add name="XZMCWJZS" connectionString="server=.;database=XZMCWJZS;integrated security=true;" providerName="System.Data.SqlClient" />
    <add name="XZMCWJZSADO" connectionString="server=.;database=XZMCWJZS;integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>