
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<table id="List"></table>
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '/Test/GetList',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() -35,
            fitColumns: true,
            sortName: 'id',
            sortOrder: 'desc',
            idField: 'id',
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                { field: 'id', title: 'ID', width: 80 },
                { field: 'name', title: '名称', width: 150 },
                { field: 'password', title: '密码', width: 150, align: 'right' },
                { field: 'id_card_num', title: '身份证号', width: 200, align: 'right' },
                { field: 'birthdate', title: '出生日期', width: 150 },
                { field: 'photo', title: '美图', width: 150, align: 'center' },
                { field: 'createtime', title: '创建时间', width: 100, align: 'center' }
            ]]
        });
    });
</script>

